[submodule "polymer"]
        path = polymer
        url = git@github.com:Polymer/polymer.git
r/polymer.git
mponents/x-slideshow"]
x-slideshow"]
 components/x-slideshow
s/x-slideshow
https://github.com/ryanseddon/slideshow-component
