[submodule "components/x-markdown"]
        path = components/x-markdown
        url = git@github.com:ryanseddon/markdown-component.git
[submodule "polymer"]
        path = polymer
        url = git@github.com:Polymer/polymer.git
