[submodule "polymer"]
    path = polymer
    url = git@github.com:Polymer/polymer.git
[submodule "x-slideshow"]
	path = components/x-slideshow
	url = git@github.com:ryanseddon/slideshow-component.git
